@import './variable.scss';

/*search*/
.search-wrap {
    margin: 20px auto;
    text-align: center;
}

.search-wrap input,
.search-wrap button {
    margin: 0;
}

#search-input {
    width: 30%;
    min-height: 50px;
    border: 1px solid $border-color;
    padding-left: 15px;
    background-color: #000;
    color: white;
    font-family: $vox-font;
    box-shadow: 0px 0px 50px 5px $border-color;
    font-size: 1rem;
    color: #5fe03f;
}

#search-input::placeholder {
    font-family: $vox-font;
    color: white;
    font-size: 1rem;
    color: #5fe03f;
}

#search-input:focus {
    background: #0a1b04;
    border: 1px solid #5fe03f;
    outline: none;
}

#search-btn {
    font-family: $vox-font;
    box-shadow: 0px 0px 50px 5px $border-color;
    color: #5fe03f;
    width: 8%;
    min-height: 50px;
    background: #133809;
    border: 1px solid $border-color;
    transition: .2s;
    font-size: 1rem;
    cursor: pointer;
}

#search-btn:hover {
    background: #0a1b04;
    color: $hover-color;
}

#search-btn:active {
    transition: 0s;
    background: #133809;
    color: #5fe03f;
}

#search-btn:focus {
    background: #0a1b04;
    border: 1px solid #5fe03f;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}