$border-color: #1f590e;
$hover-color: #5fe03f;
$rnmfont: "RickandMorty";
$vox-font: 'vox';
$background-color-hover: #123508;
$background-color: #091a04;
$text-color: #5fe03f;
$more-background: #178095;
$more-border: #1ccef1;
$more-color-text: #4fe2ff;
$more-background-hover: #145663;
$more-border-hover: #15d8ff;
$more-color-text-hover: #4fe2ff;